{% extends 'ORNCPBundle::layout.html.twig' %}
{% block main %}
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3 text-black">
            Cấu hình trang chủ
        </h1>
    </div>
    <div class="wrapper-md">

        {% include 'ORNCPBundle::messages.html.twig' %}

        <div class="panel panel-default">
            <div class="panel-body">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    {{ form_row(form.facebook) }}
                    {{ form_row(form.instagram) }}
                    {{ form_row(form.googlePlus) }}
                {{ form_end(form) }}
            </div>
        </div>

    </div>
{% endblock %}
{% block css %}
{% endblock %}
{% block js %}
{% endblock %}
